* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(231, 221, 202);
}

@font-face {
  font-family: "Maston";
  src: url("/public/fonts/MRKMaston-Bold.woff");
}

@font-face {
  font-family: "Barlow";
  src: url("/public/fonts/Barlow-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/public/fonts/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "AmazonBold";
  src: url("/public/fonts/Amazon Ember Cd RC Italic.ttf");
}

@font-face {
  font-family: "Amazon";
  src: url("/public/fonts/Amazon Ember Cd RC Light Italic.ttf");
}
